body {
  background-color: rgb(254, 234, 234);
  font-family: sans-serif;
}
.nav_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:hover {
  background-color: #d6eeee;
}

.modal {
  text-align: center;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  color: aliceblue;
  border-radius: 15px;
  background-color: darkslategrey;
}

/* Add button pop up style ------------------------------------------------------------*/
.modal_popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  width: auto;
  color: aliceblue;
  border-radius: 15px;
  background-color: darkslategrey;
  height: 70%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  position: sticky;
  top: 0px;
  border-radius: 15px;
  background-color: #124e4d;
}
.modal_content {
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: 500;
  font-size: 25px;
}
/* styling Form */
form > div > label {
  font-size: 13px;
}
form > div {
  display: flex;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
  justify-content: flex-end;
}

form > div > input {
  border-radius: 6px;
  border: none;
  min-width: 250px;
  min-height: 33px;
}
.checkbox_style {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
}

.submit_style {
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  width: 100px;
  float: right;
}

form > div > label {
  color: aliceblue;
  display: block;
  margin-right: 80px;
}

/* End of  Add Button styles-------------------------------------------------------------- */

/* view Details Styling----------------------------------- */
.view_Details_style {
  display: inline-block;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
  margin: auto;
  width: 300px;
  height: max-content;
  padding: 30px;
}

.leftHeaderSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: flex-end;
}

/*     display: none;
    display: block;
    text-align: center;
    position: fixed;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    color: aliceblue;
    border-radius: 15px;
    background-color: darkslategrey;
    height: 80%; */

.searchInputstyle {
  width: 255px;
  height: 34px;
  border-radius: 7px;
  border: none;
  margin-bottom: 10px;
  margin-right: 10px;
}
